@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: local("Poppins Regular"), 
       url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}



@theme {
  --color-primary: #10B981;
  --color-accent: #34D399;
  --color-accent-hover: #29B184;
  --color-accent-active: #208C6E;

  --color-background: #17191C;
  --color-surface: #1E2023;
  --color-surface-1: #25282C;
  --color-surface-2: #2F3338;
  --color-cardbg: #24262B;

  --color-text-primary: #F8FAFC;
  --color-text-secondary: #94A3B8;
  --color-border: #334155;

  --color-danger: #F43F5E;
}


/*
| Role                 | Color     | Description                                          |
| -------------------- | --------- | ---------------------------------------------------- |
| **Primary**          | `#10B981` | Minty green (emerald) for buttons, links, highlights |
| **Background**       | `#0F172A` | Very dark slate — deep, cool base background         |
| **Surface / Card**   | `#1E293B` | Dark slate — for cards, modals, navbars              |
| **Accent**           | `#34D399` | Soft green — for hover effects, subtle highlights    |
| **Danger**           | `#F43F5E` | Rose — for error messages, warnings                  |
| **Text (Primary)**   | `#F8FAFC` | Light slate — for main text (very readable on dark)  |
| **Text (Secondary)** | `#94A3B8` | Subtle slate — for muted/secondary text              |
| **Border**           | `#334155` | Slate — for dividers and outlines                    |
*/